---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../Layout.astro";
import { AUTHOR_IMAGE, AUTHOR_NAME, AUTHOR_URL } from "../../consts";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts: CollectionEntry<"blog">[] = await getCollection("blog");
  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { slug } = Astro.params;
const { title, pubDate, description } = post.data;
const { Content } = await render(post);

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: title,
  datePublished: pubDate,
  dateModified: pubDate,
  image: `https://mosaicimg.com/use?url=https://praveenjuge.com/blog/${slug}`,
  author: {
    "@type": "Person",
    name: AUTHOR_NAME,
    url: AUTHOR_URL,
  },
  publisher: {
    "@type": "Organization",
    name: AUTHOR_NAME,
    url: AUTHOR_URL,
    logo: AUTHOR_IMAGE,
  },
};

const breadJsonLd = {
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  name: title,
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Home",
      item: AUTHOR_URL,
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Blog",
      item: `${AUTHOR_URL}/blog`,
    },
    {
      "@type": "ListItem",
      position: 3,
      name: title,
      item: `${AUTHOR_URL}/blog/${slug}`,
    },
  ],
};
---

<Layout {...post.data} mosaic={true}>
  <article
    itemscope={true}
    itemtype="http://schema.org/BlogPosting"
    class="p-4
			mx-auto
			max-w-xl
			leading-7
			text-gray-700
  		**:[p]:my-5
			**:[a]:underline
			**:[a]:font-semibold
			**:[a]:text-gray-900
			**:[strong>a]:font-bold
			**:[strong]:text-gray-900
			**:[strong]:font-semibold
			**:[a_strong]:text-inherit
			
			**:[code]:text-gray-900
			**:[code]:font-semibold
			**:[code]:text-sm
			**:[code]:bg-gray-50
			**:[code]:rounded-md
			**:[code]:py-0.5
			**:[code]:px-1
			**:[code]:border
			**:[code]:border-gray-300
			**:[a_code]:text-inherit
			**:[h1_code]:text-inherit
			**:[h2_code]:text-inherit
			**:[h2_code]:text-sm
			**:[h3_code]:text-inherit
			**:[h3_code]:text-[0.9em]
			**:[h4_code]:text-inherit
			
			**:[pre]:text-sm
			**:[pre]:my-7
			**:[pre]:rounded-lg
			**:[pre]:p-4
			**:[pre_code]:bg-transparent
			**:[pre_code]:border-0
			**:[pre_code]:rounded-none
			**:[pre_code]:p-0
			**:[pre_code]:font-normal
			
			**:[h1]:text-balance
			**:[h1]:tracking-tighter
			**:[h1]:text-gray-900
			**:[h1]:font-extrabold
			**:[h1]:text-4xl
			**:[h1]:mt-0
			**:[h1]:mb-[0.8888889em]
			**:[h2]:text-gray-900
			**:[h2]:font-bold
			**:[h2]:text-2xl
			**:[h2]:mt-12
			**:[h2]:mb-6
			**:[h2]:leading-[1.3333333]
			**:[h2_strong]:font-extrabold
			**:[h2_strong]:text-inherit
			**:[h3]:text-gray-900
			**:[h3]:font-semibold
			**:[h3]:text-xl
			**:[h3]:mt-8
			**:[h3]:mb-4
			**:[h3_strong]:font-bold
			**:[h3_strong]:text-inherit
			**:[h4]:text-gray-900
			**:[h4]:font-semibold
			**:[h4]:mt-6
			**:[h4]:mb-2
			**:[h4]:leading-6
			**:[h4_strong]:font-bold
			**:[h4_strong]:text-inherit
			**:[h2+*]:!mt-0
			**:[h3+*]:!mt-0
			**:[h4+*]:!mt-0
			**:[ol]:list-decimal
			**:[ul]:list-disc
			**:[ol]:my-5
			**:[ol]:pl-6
			**:[ul]:my-5
			**:[ul]:pl-6
			**:[dl]:my-5
			**:[dd]:mt-2
			**:[dd]:pl-6
			**:[dt]:mt-5
			**:[li]:my-2
			**:[ol>li]:marker:font-normal
			**:[ol>li]:marker:text-gray-500
			**:[ul>li]:marker:text-gray-300
			**:[dt]:text-gray-900
			**:[dt]:font-semibold
			**:[ol>li]:pl-[0.375em]
  		**:[ul>li]:pl-[0.375em]
			**:[ul>li>p]:my-3
			**:[ul>li>p:first-child]:my-5
			**:[ol>li>p:first-child]:my-5
			**:[ul_ul]:my-3
			**:[ul_ol]:my-3
			**:[ol_ul]:my-3
			**:[ol_ol]:my-3
			**:[hr]:border-t
			**:[hr]:border-gray-200
			**:[hr]:my-12
			**:[hr+*]:!mt-0
			**:[blockquote]:font-medium
			**:[blockquote]:text-gray-900
			**:[blockquote]:border-l-4
			**:[blockquote]:border-gray-200
			**:[blockquote]:my-6
			**:[blockquote]:pl-4
			**:[blockquote_code]:text-inherit
			**:[img]:my-8
			**:[picture]:block
			**:[picture]:my-8
			**:[picture>img]:my-0
			**:[video]:my-8
			**:[figure_*]:my-0
			**:[figure]:my-8
			**:[figcaption]:text-gray-500
			**:[figcaption]:text-sm
			**:[figcaption]:leading-[1.4285714]
			**:[figcaption]:mt-[0.8571429em]"
  >
    <p>
      Written on{" "}
      <time itemprop="datePublished" datetime={pubDate?.toISOString()}>
        {
          pubDate?.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
    </p>
    <h1 itemprop="headline">
      {title}
    </h1>
    <meta
      itemprop="image"
      content={`https://mosaicimg.com/use?url=https://praveenjuge.com/blog/${slug}`}
    />
    <span
      itemscope={true}
      itemprop="author"
      itemtype="https://schema.org/Person"
      hidden
    >
      <a itemprop="url" href={AUTHOR_URL}>
        <span itemprop="name">{AUTHOR_NAME}</span>
      </a>
    </span>
    <p itemprop="description">
      {description}
    </p>
    <Content />
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(jsonLd)}
    />
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(breadJsonLd)}
    />
  </article>
</Layout>
