---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../Layout.astro";
import { getImage, Image } from "astro:assets";

const DESIGN_PREVIEW_WIDTH = 1600;
const DESIGN_PREVIEW_HEIGHT = 1200;

const designs: CollectionEntry<"design">[] = (
  await getCollection("design")
).sort(
  (a: CollectionEntry<"design">, b: CollectionEntry<"design">) =>
    (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0)
);

const designCards = await Promise.all(
  designs.map(async (design) => ({
    ...design,
    imageHref: (
      await getImage({
        src: design.data.cover,
        quality: "max",
        format: design.data.cover.format,
      })
    ).src,
  }))
);
---

<Layout title="Designs">
  <h1 class="mx-auto mb-6 max-w-xl px-4 font-bold">Designs</h1>
  <section class="grid w-full grid-cols-1 gap-2 p-2 sm:grid-cols-2 md:grid-cols-3">
    {
      designCards.map((design) => (
        <a
          target="_blank"
          data-astro-prefetch="false"
          href={design.imageHref}
          class="block"
        >
          <Image
            width={DESIGN_PREVIEW_WIDTH}
            height={DESIGN_PREVIEW_HEIGHT}
            quality="high"
            alt={design.id}
            src={design.data.cover}
            class="block h-full w-full object-cover"
          />
        </a>
      ))
    }
  </section>
</Layout>
